input[type='text'] {
  padding: 10px 16px;
  font-size: 14px;
  box-sizing: border-box;
  width: 260px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;

  &:hover,
  &:focus {
    border: 1px solid #989898;
  }
}
