.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  header {
    text-align: center;
  }

  .inputs {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;

    .text-input-container,
    .select-input-container {
      display: flex;
      flex-direction: column;
      margin-right: 15px;

      label {
        margin-bottom: 3px;
      }

      input {
        margin-bottom: 15px;
      }

      select {
        margin-bottom: 15px;
      }
    }

    .buttons {
      margin-top: 8px;

      button:nth-of-type(1) {
        margin-right: 8px;
      }
    }
  }

  footer {
    text-align: center;

    a {
      color: #ff5230;

      &:hover {
        color: #b71918;
      }
    }
  }
}
