.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  header {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .inputs {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 500px) {
      margin-bottom: 0px;
    }

    .text-input-container,
    .select-input-container {
      display: flex;
      flex-direction: column;
      margin-right: 15px;

      label {
        margin-bottom: 3px;
      }

      input {
        margin-bottom: 15px;
      }

      select {
        margin-bottom: 15px;
      }
    }

    .buttons {
      margin-top: 8px;
      display: flex;

      @media screen and (max-width: 500px) {
        display: block;

        .button-secondary {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }

      button:nth-of-type(1) {
        margin-right: 8px;
      }
    }
  }

  .result {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    text-align: center;
    font-size: 0.9em;

    a {
      color: #ff5230;

      &:hover {
        color: #b71918;
      }
    }
  }
}

.hide-on-mobile {
  display: block;
  visibility: visible;

  @media screen and (max-width: 500px) {
    display: none;
    visibility: hidden;
  }
}

.show-on-mobile {
  display: none;
  visibility: hidden;

  @media screen and (max-width: 500px) {
    display: block;
    visibility: visible;
  }
}
