.button.button-primary {
  background-color: #1939b7;
  border: 1px solid #102693;
  font-size: 0.9em;
  color: #fff;
  transition: 0.2s all ease-in-out;

  &:hover {
    background-color: #102693;
  }
}
